body {
  background-color: #F0FFFF;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.thing-name {
  color: #696969 !important;
  font-family: sans-serif !important;
  text-align: center !important;
}

.thing-temp {
  color: #B22222 !important;
  font-family: sans-serif !important;
  text-align: center !important;
}
