body {
  background-color: light-gray;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

#thing-name {
  color: gray;
  font-family: sans-serif;
  text-align: center;
}

#thing-temp {
  color: red;
  font-family: sans-serif;
  text-align: center;
}
