body {
  background-color: azure;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.thing-name {
  color: dimgray !important;
  font-family: sans-serif !important;
  text-align: center !important;
}

.thing-temp {
  color: firebrick !important;
  font-family: sans-serif !important;
  text-align: center !important;
}
